html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #29202A;
    font-family: 'Lato', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin: 50px auto;
    max-width: 1020px;
    padding: 0;
    background: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

h1.site-title {
    color: #c44d34;
    padding: 10px 0;
    display: block;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

.project-members {
    color: #632F2F;
    text-align: center;
    font-size: 0.8em;
    background: #FBF3E8;
    line-height: 2.5em;
}

.project-members span {
    margin: 0 5px;
    color: #555;
    font-weight: bold;
}

.project-members span i {
    color: #777;
    font-weight: normal;
}

.section {
    padding: 10px;
}

h2.section-title {
    font-family: 'Monoton', cursive;
}

.footer {
    text-align: center;
}

#yearChart .line {
    opacity: 0.5;
    stroke-width: 1;
}

#yearChart .state-hover-line .line {
    opacity: 0.1;
}

#yearChart .line.hover {
    stroke: #000;
    opacity: 1;
}

/**
For map path
 */
#Map path {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
}

#Map .axis text {
    font: 10px sans-serif;
}

#Map .axis path,
#Map .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#Map .bar {
    fill: steelblue;
    fill-opacity: .9;
}

#Map .x.axis path {
    display: none;
}

#Map div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#Map label {
    position: absolute;
    top: 10px;
    right: 10px;
}