html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #29303A;
    font-family: 'Lato', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 500px;
    min-width: 800px;
}

.page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page.show {
    display: block;
}

h1.site-title {
    color: #c44d34;
    padding: 10px 0;
    display: block;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

.project-members {
    color: #632F2F;
    text-align: center;
    font-size: 0.8em;
    background: #FBF3E8;
    line-height: 2.5em;
}

.project-members span {
    margin: 0 5px;
    color: #555;
    font-weight: bold;
}

.project-members span i {
    color: #777;
    font-weight: normal;
}

.section {
    padding: 10px;
}

h2.section-title {
    font-family: 'Monoton', cursive;
}

.footer {
    text-align: center;
}

/**
 * For year chart
 */

.year-chart .line {
    opacity: 0.5;
    stroke-width: 1;
}

.year-chart .state-hover-line .line {
    opacity: 0.1;
}

.year-chart .line.hover {
    stroke: #000;
    opacity: 1;
}

.year-chart g.filter-bars text {
    font-size: 0.7em;
}

.year-chart g.filter-bars {
    cursor: pointer;
}

.year-chart g.filter-bars .hover {
    color: red;
}

.year-chart g.filter-bars .hover text {
    font-weight: bold;
}

/**
For map path
 */
.LocationChart path.state {
    fill: #192228;
    stroke-width: 1px;
    stroke: gray;
    opacity: 0.8;
    cursor: pointer;
}

.LocationChart path.state:hover {
    fill: #000;
    opacity: 0.8;
}

.LocationChart path.clicked {
    fill: #000;
}

.LocationChart .cityCircle {
    stroke: #ED3A56;
    fill: none;
    opacity: 0.8
}

.LocationChart .axis text {
    font: 10px sans-serif;
}

.LocationChart .axis path,
.LocationChart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.LocationChart .bar {
    fill: steelblue;
    fill-opacity: .9;
}

.LocationChart .x.axis path {
    display: none;
}

.LocationChart div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.LocationChart label {
    position: absolute;
    top: 10px;
    right: 10px;
}

.location-info {
    position: absolute;
    left: 50px;
    top: 150px;
}

.location-info_state-name {
    z-index: 2001;
    color: #EF3753;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 36px;
    margin-bottom: 50px;
}

.location-info_item {
    color: #6d7988;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
}

.location-info_number {
    color: #C4C4C4;
    font-weight: 400;
    font-style: normal;
}

.location-info_number._bold {
    color: #EF3753;
    font-weight: 800;
    font-style: normal;
    font-size: 21px;
}

#navigation {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 100px;
    left: 0;
    right: 0;
}

#navigation .nav-button {
    background: #c44d34;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    z-index: 10;
}

#navigation .nav-button.nav-prev {
    left: 50px;
}

#navigation .nav-button.nav-next {
    right: 50px;
}

#navigation .nav-button:hover {
    opacity: 1;
}
